<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
		<script src="javascripts/jquery-1.11.1.min.js" ></script>
		<script src="javascripts/bootstrap.min.js" ></script>
		
		<link rel="stylesheet" href="stylesheets/person.css" >
		<link rel="stylesheet" href="stylesheets/default_sheet.css" >
		<script src="javascripts/idol.js" ></script>
		<link rel="stylesheet" href="stylesheets/idol.css" >
		
		<script src="javascripts/evalue.js" ></script>
		<script src="javascripts/data.js" ></script>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		{% include 'banner.html' %}
		{% block banner %}{% endblock %}
		<div class="container" id="main-wall">
			<div class="person_info">
				<div class="wb_face">
					<img class="headicon_bg img-circle" src="{{ user.image }}">
				</div>
				<div id="evaluat" style='display:none'> {{ evaluate }} </div>
				<div class="person_detail">
					<h2 id="name">{{ user.name }}</h2>
					<h4 id="addr">
						{{ user.location }}, {{ user.city }}
					</h4>
					<h4 id="person_num">
						关注
						<span class="span_block" id="followee">{{ user.num_followees }}</span>
						粉丝
						<span class="span_block" id="follower">{{ user.num_followers }}</span>
					</h4>
					<h4>
						简介：
						<span class="span_block" id="description">
							{{ user.description }}
						</span>
					</h4>
				</div>
			</div>
			<div class="person_wb">
				<div class="weibo">
					{% for weibo in weibos %}
						<div class="wb_face">
							<img class="headicon_small img-circle" src="{{ weibo.user.image }}">
						</div>
						<div class="wb_display">
							<div class="wb_info">
								<p id="name"><strong>{{ weibo.user.name }}</strong></p>
							</div>
							<div class="wb_text">
								{{ weibo.text }}
							</div>
							
							{% if weibo.original == 0 %}
								<div class="wb_arrow">
									<img id="arrow" src="images/arrow.jpg">
								</div>
								<div class="wb_expand">
									
									<div class="wb_mote">
										<div class="wb_info">
											<p id="name"><strong>{{ weibo.original_weibo.user.name }} </strong></p>
										</div>
										<div class="wb_text">
											{{ weibo.original_weibo.text }}
										</div>
										<small class="wb_time">
											{{ weibo.original_weibo.time }}
										</small>
									</div>
								</div>
							{% endif %}
							<h6 class="wb_time"><small>
								{{ weibo.time }}
							</small></h6>
						</div>
					{% endfor %}
				</div>
			
			</div>
			<div class="person_research text-center">
				<h2><strong>用户价值评估</strong></h2>
				<div class="evalue">
					<canvas id="wb_evalue"></canvas>
				</div>
			</div>
		</div>
	</body>
	
</html>
